// .one{
//     color: aqua;
// }
//     .two{
//         font-size: 40px;
//     }
//     .three{
//         color:lightcoral;
//     }
//     .four{
//         font-size: 20px;
//     }


    .one{
        color: red;
    }
        .two{
            font-size: 40px;
        }
        .three{
            color:greenyellow;
        }
        .four{
            font-size: 20px;
        }