<div class="bg">
    <div class="center">
        <!-- <h1><b>Welcome back!</b></h1> -->
        <form (ngSubmit)="onSubmit(

        
        )" >
            <div>
                <input type="text" name="" class="inputbox" placeholder="Username">
             </div>
             <br>
             <div>
                <input type="text" name="" class="inputbox" placeholder="Password">
             </div>
             <br>
             <div class="form-check">
                <label for="course">Select Course</label>
                <select class="form-control" id="course">
                    <option value="HTML">HTML</option>
                    <option value="Angular">Angular</option>
                    <option value="Javascript">Javascript</option>
                </select>
              </div>
             <br><br>
             <div>
                <button type="submit">submit</button>
             </div>
        </form><br>
        <div>
            <h4>Don't have an account? Sign Up</h4>
        </div>
    </div>
    
    </div>
    