<div class="bgimg">
<div class="center">
    <h1><b>Welcome back!</b></h1>
    <form>
        <div>
            <input type="text" name="" class="inputbox" placeholder="Username">
         </div>
         <br>
         <div>
            <input type="text" name="" class="inputbox" placeholder="Password">
         </div>
         <br>
         <div>
            <button type="submit">SIGN IN</button>
         </div>
    </form><br>
    <div>
        <h4>Don't have an account? Sign Up</h4>
    </div>
</div>

</div>
