<div class="header">
    <div routerLink="/">Home page</div>
    <div routerLink="/about">About page</div>
    <div routerLink="/contact">Contact</div>
    <div routerLink="/service">service </div>
    <div routerLink="/insta">insta</div>
    <div routerLink="/login">login</div>
    <div routerLink="/login1">login1</div>
    <div routerLink="/animation">animation</div>
    <div routerLink="/cupanimation">cupanimation</div>
    <div routerLink="/basicts">basicts</div>
    
    
    
    



<a href="">
    
</a>
</div>

