<div class="header">
    <div routerLink="/">Home page</div>
    <div routerLink="/about">About page</div>
    <div routerLink="/contact">Contact</div>
    <div routerLink="/service">service </div>
    <div routerLink="/insta">insta</div>
    <div routerLink="/login">login</div>
    <div routerLink="/login1">login1</div>
    <div routerLink="/animation">animation</div>
    <div routerLink="/cupanimation">cupanimation</div>
    <div routerLink="/basicts">basicts</div>
    <div routerLink="/ifelsets">ifelsets</div>
    <div routerLink="/ifelsets1">ifelsets1</div>
    <div routerLink="/switch">switch</div>
    <div routerLink="/for">for</div>
    <div routerLink="/style">style</div>
    <div routerLink="/binding">binding</div>
    <div routerLink="/pipes">pipes</div>
    <div routerLink="/aforms">aforms</div>
    <div routerLink="/table">table</div>
    <div routerLink="/task">task</div>
    
    
    
    
    



<a href="">
    
</a>
</div>

