
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="main_class">
    <div class="centerdiv">
         <div class="login"><i class="fa-solid fa-user-tie fa-4x" style="color: #1462e9;"></i></div>
        
        <form>
            <div class="textbox"><i class="fa-solid fa-envelope" style="color: #dee1e6;"></i>
                <input type="text" name="" class="inputbox" placeholder="Email ID">
                
      </div>
             <br>
             <div class="textbox">
                <i class="fa-solid fa-key" style="color: #b7c1d2;"></i>
                <input type="text" name="" class="inputbox" placeholder="Password">
         </div>
             <br>
              <div class="remember-forgot">
              &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;    <label><input type="checkbox">Remember me</label>
              &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; <a href="#">Forgot Password?</a>
             </div><br>
             <div>
            <button type="submit">LOGIN</button>
         </div>
    </form><br>
    </div>
</div>
